.info-block
  width: 450px
  display: flex
  justify-content: flex-start
  flex-direction: column
  background-color: #272D3D
  @include mediaMobileOnly
    width: 100%
    align-items: center
    gap: 20px


.info-block__button-shape-info
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 120px
  height: 30px
  background-color: #4252D1
  border-radius: 5px
  color: #FFFFFF
  @include mediaMobileOnly
    align-self: center


.info-block__icon
  position: absolute
  left: 8px

.info-block__main-title
  font-size: 77px
  font-weight: 800
  text-transform: uppercase
  color: #FF3459
  @include mediaMobileOnly
    text-align: center
    font-size: 55px

.info-block__from-zero
  display: inline-block
  transform: rotate(-4deg)
  font-weight: 800
  font-size: 24px
  color: #FFFFFF
  background-color: #FF3459
  padding: 5px 10px
  border-radius: 5px
  text-transform: uppercase

.info-block__main-sub-title
  font-size: 21px
  color: #FFFFFF
  font-weight: 600
  @include mediaMobileOnly
   text-align: center
   font-size: 15px


.info-block__main-text
  margin-top: 20px
  line-height: 1.5em
  font-size: 18px
  color: #FFFFFF
  @include mediaMobileOnly
    text-align: center
    font-size: 15px


.info-block__from-thousand
  background-color: #4252D1
  border-radius: 3px
  padding: 3px
  @include mediaMobileOnly
    font-weight: 800
    background-color: transparent
    color: #4252D1

.info-block__with-salary
  @include mediaMobileOnly
    font-weight: 800
    color: #4252D1

.info-block__details-item
  display: flex
  gap: 5px
  @include mediaMobileOnly
    align-items: center
    line-height: 1.5em
    padding: 5px
    width: 260px



.info-block__details-name
  font-size: 15px
  font-weight: 700
  color: white
  text-transform: uppercase


.info-block__details-family-name
  color: #4252D1

.info-block__details-text-descriptions
  font-size: 15px
  font-weight: 400
  color: white


.info-block__details
  display: flex
  flex-direction: column
  gap: 20px
  margin-top: 80px
  @include mediaMobileOnly
    flex-direction: column-reverse
    margin-top: 40px




.button
  position: relative
  padding: 3px 10px
  background: transparent
  border: 0

.items-to-group
  display: flex
  justify-content: space-evenly
  margin-top: 120px
  @include mediaMobileOnly
    align-items: center
    flex-direction: column


